# Node
node_modules/
frontend/node_modules/

# Python
venv/
backend/venv/
__pycache__/
*.pyc

# Environment
.env
frontend/.env
backend/.env

# Database
backend/db.sqlite3

# Build
dist/
build/

# OS
.DS_Store