body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.gallery-card-link {
  text-decoration: none;
  color: inherit;
}

.photo-details-page {
  min-height: 100vh;
  background: #050816;
  color: white;
  padding: 40px;
}

.photo-details-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.photo-details-image {
  width: 60%;
  border-radius: 20px;
}

.photo-details-info {
  flex: 1;
}

.photo-details-info h1 {
  margin-bottom: 20px;
}

.photo-details-info p {
  margin-bottom: 15px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .photo-details-container {
    flex-direction: column;
  }

  .photo-details-image {
    width: 100%;
  }
}